.container
  %ol.breadcrumb
    %li
      = link_to 'Home', root_path
    %li Groups
    %li.active= @group.display_name

.container
  .panel.panel-default
    .panel-body
      = link_to 'members', group_members_path(@group.id)
